@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');
.borderBox{
    // applies black border + drop shadow
    padding: 7.5px 15px;
}
.blocky{
    // applies white bg and padding
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 30px;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
}
.seeAlso{
        align-items: center;
        p{
            color: white;
            font-size: 36px;
        }
        img{
            border: 5px solid #000000;
            box-shadow: 4px 4px 0px 0px #000000;
        }
        .seeAlsoImg{
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 7px;
            img{
                position: relative;
                width: 316px;
                height: 172px;
                object-fit:cover;
            }
            .pic{
                position: relative;
                .projectImage{
                    position: relative;
                }
                :hover{
                    color: black;
                    background-color: $colorGD;
                    border: 5px solid #000000;
                    box-shadow: 4px 4px 0px 0px #000000;
                }
                .overlayText{
                    position: absolute;
                    top:30%;
                    left:30%;
                    padding-left: 1%;
                    padding-right: 1%;
                    // opacity: 0;
                }
            }
        }
    }
.pic{
    position: relative;
    .projectImage{
        position: relative;
    }
    &:hover{
        // background-color: rgba($color: white, $alpha: .5);
        .overlayText{
            color: black;
            background-color: $colorGD;
            border: 5px solid #000000;
            box-shadow: 4px 4px 0px 0px #000000;
            opacity: 1;
            transition: .2s ease-out;
        }
    }
    .overlayText{
        position: absolute;
        top:30%;
        left:30%;
        padding-left: 1%;
        padding-right: 1%;
        opacity: 0;
        }
    }
.foot{
    margin-top: 1%;
    margin-bottom: 5%;
    ol{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        :hover{
            background-color: $colorGD;
            transition: .2 ease-in-out;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 100px;
            background-color: white;
            border: 5px solid #000000;
            box-shadow: 4px 4px 0px 0px #000000;
        }
    }   
}
h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 144px;
}
h2{ 
    font-family: 'DotGothic16', sans-serif;
    font-size: 60px;
}
p{  
    font-family: 'VT323', sans-serif;
    font-size: 44px;
}
body{
    background-color: white;
    font-family: 'VT323', monospace;
    color: black;
    font-size: 44px;
    min-height: 100vh;
    margin: 0px;
}
.home{
    text-align: center;
    margin: 15px;
    padding-bottom: 60px;
    background-color: black;
    nav{
        color: black;
        border: 5px solid #000000;
        background-color: white;
        box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.5);
        margin-left: 530px;
        margin-right: 530px;
        
    }
    h1{
        color: white;
    }
    
}
.graphicDesign{
    background-color: $colorGD;
    .head{
        text-align: center;    
        align-items: center;
        img{
            height: 74px;
        }
        h1{
            font-size: 100px;
        }
        ol{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            :hover{
                background-color: $colorGD;
                transition: .3s ease-in-out;
            }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 100px;
                background-color: white;
                border: 5px solid #000000;
                box-shadow: 4px 4px 0px 0px #000000;
            }
        }
    }
    .contentGrid{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        .contentCol{
            display: grid; 
            grid-template-columns: 1fr;
            gap: 27px;
            img{
                border: 5px solid #000000;
                box-shadow: 4px 4px 0px 0px #000000;
                position: relative; 
                width: 100%;
                }
            }
            }
        }
.project{
    background-color: $colorGD;
    h1{
        font-size: 100px;
    }
    .block{
        width: 100px;
        height: 100px;
        background-color: aqua;
    }
    ol{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        :hover{
            background-color: $colorGD;
            transition: .2s ease-in-out;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            width: 100px;
            background-color: white;
            border: 5px solid #000000;
            box-shadow: 4px 4px 0px 0px #000000;
        }
    }
    .projectGrid{
        .slideshow{
            position:relative;
            display: flex;
            align-content:center ;
            justify-content: center;
            .slideImg{
                position: relative;
            }
            .slideArrow{
                position: absolute;
                top:50%
            }
        }
    }
    .gallery{
        display: grid;
        .galleryImg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            .gallerySquare{
                max-width: 10vw;
                max-height: 10vh;
            }
        }
    }
}
.aboutMe{
    background-color: $colorMe;
    ol{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        :hover{
            background-color: $colorMe;
            transition: .2s ease-out;
        }
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px;
            min-width: 100px;
            background-color: white;
            border: 5px solid #000000;
            box-shadow: 4px 4px 0px 0px #000000;
        }
    }
    .meGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 72px 10px 99px 72px;
    }
    .meText{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}