/* makes sizing simpler */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.borderBox {
  padding: 7.5px 15px;
}

.blocky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 30px;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

#goHome {
  height: 74px;
}

.pic {
  position: relative;
  color: rgba(255, 255, 255, 0);
}
.pic:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease 0.3s;
}
.pic:hover.contentPic {
  background-color: rgba(255, 255, 255, 0.5);
}
.pic:hover.contentPic img {
  opacity: 0.5;
}
.pic:hover .overlayText {
  position: absolute;
  color: black;
  background-color: #EC9751;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  opacity: 1;
  transition: 0.2s ease-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic .overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
}

.seeAlso {
  align-items: center;
}
.seeAlso p {
  color: white;
  font-size: 36px;
}
.seeAlso img {
  position: relative;
  width: 316px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.seeAlso .seeAlsoImg {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.foot {
  margin-top: 1%;
  margin-bottom: 5%;
}
.foot ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.foot ol :hover {
  background-color: #EC9751;
  transition: 0.2 ease-in-out;
}
.foot ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

h1 {
  font-family: "DotGothic16", sans-serif;
  font-size: 144px;
}

h2 {
  font-family: "DotGothic16", sans-serif;
  font-size: 72px;
}

h3 {
  font-family: "DotGothic16", sans-serif;
  font-size: 60px;
}

p {
  font-family: "VT323", sans-serif;
  font-size: 44px;
}

body {
  background-color: white;
  font-family: "VT323", monospace;
  color: black;
  font-size: 44px;
  min-height: 100vh;
  margin: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding-bottom: 60px;
  background-color: black;
}
.home h1 {
  color: white;
  margin-bottom: 80px;
}
.home nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border: 5px solid #000000;
  background-color: white;
  box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.5);
  width: 350px;
  height: 385px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.home nav button {
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.graphicDesign {
  background-color: #EC9751;
}
.graphicDesign .head {
  text-align: center;
  align-items: center;
}
.graphicDesign .head img {
  height: 74px;
}
.graphicDesign .head h1 {
  font-size: 100px;
}
.graphicDesign .head ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.graphicDesign .head ol :hover {
  background-color: #EC9751;
  transition: 0.3s ease-in-out;
}
.graphicDesign .head ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.graphicDesign .contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.graphicDesign .contentGrid .contentCol {
  display: grid;
  grid-template-columns: 1fr;
  gap: 27px;
}
.graphicDesign .contentGrid .contentCol img {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  width: 100%;
}

.project {
  background-color: #EC9751;
}
.project h1 {
  font-size: 100px;
}
.project .block {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.project ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.project ol :hover {
  background-color: #EC9751;
  transition: 0.2s ease-in-out;
}
.project ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.project .projectGrid .slideshow {
  position: relative;
}
.project .projectGrid .slideshow .slideArrow {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.project .gallery {
  max-width: 1230px;
}

.aboutMe {
  background-color: #A1C273;
}
.aboutMe ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.aboutMe ol :hover {
  background-color: #A1C273;
  transition: 0.2s ease-out;
}
.aboutMe ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.aboutMe .meGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 75px;
}
.aboutMe .meGrid img {
  height: auto;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutMe .meText {
  max-width: 630px;
  text-align: left;
}
.aboutMe .meText .meTextRow1 {
  border-bottom: 5px solid #000000;
  padding-bottom: 10%;
  margin-bottom: 10%;
}/*# sourceMappingURL=index.css.map */