/* makes sizing simpler */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.borderBox {
  padding: 7.5px 15px;
}

.blocky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 10px;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
}
@media screen and (min-width: 600px) {
  .blocky {
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
    padding: 30px;
  }
}

#goHome {
  height: 50px;
}
@media screen and (min-width: 600px) {
  #goHome {
    height: 74px;
  }
}

#headImg {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

.pic {
  position: relative;
  color: rgba(255, 255, 255, 0);
}
.pic:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease 0.3s;
}
.pic:hover.contentPic {
  background-color: rgba(255, 255, 255, 0.5);
}
.pic:hover.contentPic img {
  opacity: 0.5;
}
.pic:hover .overlayText {
  position: absolute;
  color: black;
  background-color: #EC9751;
  border: 2px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
  opacity: 1;
  transition: 0.2s ease-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) {
  .pic:hover .overlayText {
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
.pic .overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 1%;
  padding-right: 1%;
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  .pic .overlayText {
    font-size: 40px;
  }
}

.seeAlso {
  align-items: center;
}
.seeAlso p {
  color: white;
}
@media screen and (min-width: 600px) {
  .seeAlso p {
    font-size: 36px;
  }
}
.seeAlso img {
  position: relative;
  width: 316px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.seeAlso .seeAlsoImg {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.foot {
  margin-top: 1%;
  margin-bottom: 5%;
}
.foot ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.foot ol :hover {
  background-color: #EC9751;
  transition: 0.2 ease-in-out;
}
.foot ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
}
@media screen and (min-width: 600px) {
  .foot ol li {
    height: 100px;
    width: 100px;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}

h1 {
  font-family: "DotGothic16", sans-serif;
  font-size: 64px;
  line-height: 1;
  padding-bottom: 15px;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 125px;
    padding-bottom: 35px;
  }
}

h2 {
  font-family: "DotGothic16", sans-serif;
  font-size: 40px;
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 72px;
  }
}

h3 {
  font-family: "DotGothic16", sans-serif;
  font-size: 28px;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 60px;
  }
}

p {
  font-family: "VT323", sans-serif;
  font-size: 18px;
}
@media screen and (min-width: 600px) {
  p {
    font-size: 44px;
  }
}

li {
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  li {
    font-size: 60px;
  }
}

body {
  background-color: white;
  font-family: "VT323", monospace;
  color: black;
  font-size: 44px;
  min-height: 100vh;
  margin: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding-bottom: 30px;
  background-color: black;
}
.home h1 {
  color: white;
  line-height: 1;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .home h1 {
    margin-bottom: 20px;
  }
}
.home nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  border: 4px solid #000000;
  background-color: white;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.5);
  font-size: 44px;
  width: 340px;
  height: 560px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home nav button {
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgb(255, 255, 255);
  border: none;
}
@media screen and (min-width: 600px) {
  .home nav {
    width: 340px;
    height: 340px;
    border: 5px solid #000000;
    box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.5);
  }
}

.graphicDesign {
  background-color: #EC9751;
}
.graphicDesign .head {
  text-align: center;
  align-items: center;
}
.graphicDesign .head img {
  height: 74px;
}
.graphicDesign .head ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 600px) {
  .graphicDesign .head ol {
    gap: 20px;
  }
}
.graphicDesign .head ol :hover {
  background-color: #EC9751;
  transition: 0.3s ease-in-out;
}
.graphicDesign .head ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
}
@media screen and (min-width: 600px) {
  .graphicDesign .head ol li {
    height: 100px;
    width: 100px;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
.graphicDesign .contentGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 600px) {
  .graphicDesign .contentGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px;
  }
  .graphicDesign .contentGrid img {
    position: relative;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
    max-height: 300px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.graphicDesign .contentGrid img {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  max-height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project {
  background-color: #EC9751;
}
.project h1 {
  font-size: 50px;
}
@media screen and (min-width: 600px) {
  .project h1 {
    font-size: 100px;
  }
}
.project h4 {
  margin-bottom: 10px;
}
.project .block {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.project ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.project ol :hover {
  background-color: #EC9751;
  transition: 0.2s ease-in-out;
}
.project ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
}
@media screen and (min-width: 600px) {
  .project ol li {
    height: 100px;
    width: 100px;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
.project .headNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .headNav #goHome {
  margin-bottom: 5px;
}
.project .gallery {
  position: relative;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}
.project .gallery img {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutMe {
  background-color: #A1C273;
}
.aboutMe ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.aboutMe ol :hover {
  background-color: #A1C273;
  transition: 0.2s ease-out;
}
.aboutMe ol li {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
}
@media screen and (min-width: 600px) {
  .aboutMe ol li {
    height: 100px;
    width: 100px;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
.aboutMe .meGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
}
.aboutMe .meGrid .meText {
  max-width: 50%;
  text-align: left;
  overflow-wrap: break-word;
}
.aboutMe .meGrid .meText .meTextRow1 {
  border-bottom: 3px solid #000000;
  padding-bottom: 8%;
  margin-bottom: 3%;
}
@media screen and (min-width: 600px) {
  .aboutMe .meGrid .meText {
    max-width: 630px;
    text-align: left;
  }
  .aboutMe .meGrid .meText .meTextRow1 {
    border-bottom: 5px solid #000000;
    padding-bottom: 10%;
    margin-bottom: 10%;
  }
}
.aboutMe .meGrid img {
  max-width: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #000000;
  box-shadow: 3px 3px 0px 0px #000000;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 600px) {
  .aboutMe .meGrid img {
    max-width: 630px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
  }
}
@media screen and (min-width: 600px) {
  .aboutMe .meGrid {
    justify-content: space-around;
    padding: 75px;
  }
}/*# sourceMappingURL=index.css.map */