/* makes sizing simpler */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.borderBox {
  padding: 7.5px 15px;
}

.blocky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 30px;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

nav ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav ol :hover {
  background-color: #EC9751;
  transition: 0.3s ease-in-out;
}
nav ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

.seeAlso {
  align-items: center;
}
.seeAlso img {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}
.seeAlso .seeAlsoImg {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.seeAlso .seeAlsoImg img {
  position: relative;
  width: 316px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
}
.seeAlso .seeAlsoImg img .seeAlsoText {
  position: absolute;
}

.foot ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.foot ol :hover {
  background-color: #EC9751;
  transition: 0.3s ease-in-out;
}
.foot ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
}

h1 {
  font-family: "DotGothic16", sans-serif;
  font-size: 144px;
}

h2 {
  font-family: "DotGothic16", sans-serif;
  font-size: 60px;
}

p {
  font-family: "VT323", sans-serif;
  font-size: 44px;
}

body {
  background-color: white;
  font-family: "VT323", monospace;
  color: black;
  font-size: 44px;
  min-height: 100vh;
  margin: 0px;
}

.home {
  text-align: center;
  margin: 15px;
  padding-bottom: 60px;
  background-color: black;
}
.home nav {
  border: 5px solid #000000;
  background-color: white;
  box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.5);
  margin-left: 530px;
  margin-right: 530px;
}
.home h1 {
  color: white;
}

.graphicDesign {
  background-color: #EC9751;
}
.graphicDesign .head {
  text-align: center;
  align-items: center;
}
.graphicDesign .head img {
  height: 74px;
}
.graphicDesign .head h1 {
  font-size: 100px;
}
.graphicDesign .contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 20px;
}
.graphicDesign .contentGrid .contentCol {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  gap: 27px;
}
.graphicDesign .contentGrid .contentCol img {
  border: 5px solid #000000;
  box-shadow: 4px 4px 0px 0px #000000;
  position: relative;
  width: 100%;
}
.graphicDesign .contentGrid .contentCol img .overlayText {
  position: absolute;
}

.project {
  background-color: #EC9751;
}
.project h1 {
  font-size: 100px;
}
.project .block {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.project .projectGrid {
  display: grid;
}

.aboutMe {
  background-color: #A1C273;
}
.aboutMe .meGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 72px 10px 99px 72px;
}
.aboutMe .meText {
  display: grid;
  grid-template-rows: 1fr 1fr;
}/*# sourceMappingURL=index.css.map */